./web/node_modules
./web/node_modules/*
backend/build
backend/build/*
backend/.gradle
backend/.gradle/*
backend/src/resources/static/*
./.idea
**/.gradle
**/build
.idea
.idea/**
.idea/*
./docker-compose.yml
./jenkins_data
**/target/*
backend/api/.env
backend/worker/.env
