./web/node_modules
./web/node_modules/*
./api/build
./api/build/*
./api/.gradle
./api/.gradle/*
./api/src/resources/static/*
./.idea
**/.gradle
**/build
.idea
.idea/**
.idea/*
./docker-compose.yml
./jenkins_data
